.genres-container {
  height: 100%;
  width: 100%;
}

nav {
  background-color: #422040;
  color: white;
  height: 100vh;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1.5rem;
  
}


h1 {
  color: white;
  text-decoration: none;
  font-size: min(5vw, 2.3rem);

  margin: 0;
  margin-right: .94rem;
}

.book-icon {
  height: 2.3rem;
  width: auto;
  filter: brightness(0) invert(1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: .2rem;
}


.genre-links:hover {
 
  background-color: #a76aa2;

} 

.genre-links {
  color: white;
  /* background-color: #7A5177; */
  margin: 0;
  padding: 0;
}

.active {
  background-color: black;

  color: black;
  text-shadow: 3rem;
}
