.books-container {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 70%;
  padding: 2% 5% 8% 5%;
  background-color: #F3DAA0;
  position: absolute;
  right: 0;
  height: auto;

}


.loading-icon {
  height: 90vh;
  width: 100vw;
  /* filter: brightness(5) invert(5); */
}