.books-container {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  /* width: 73%; */
  padding: 4% 4% 3% 21%;
  background-color: #F3DAA0;
  /* position: absolute; */
  /* right: 0; */
  margin-left: 7vh;
  background-size: cover;
  /* height: 100vh; */
  height: 100%;
  margin-bottom: 11vh;
}


.loading-icon {
  height: 90vh;
  width: 100vw;
  /* filter: brightness(5) invert(5); */
}