.book-card {
  width: 15rem;
  height: 19rem;
  background: #e0e1dc;
  transform-style: preserve-3d;
  box-shadow: inset 18.75rem 0 3.125rem rgba(0, 0, 0, .5), .6rem 1rem 1rem rgba(0, 0, 0, .5);
  transition: 1s;
  z-index: 0;
}

.book-card:hover {
  transform: translate(-2%, -2%) perspective(2000px) rotate(10deg) scale(1.2);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
  z-index: 1;
}

.book-card:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #BAC1BA;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.book-card:after {
  content: '';
  position: absolute;
  top: 0;
  right: -.313rem;
  width: .313rem;
  height: 100%;
  background: #92A29C;
  transform-origin: left;
  transform: skewY(-45deg);
}

.book-card .book-image {
  width: 15rem;
  height: 19rem;
  position: relative;
  transform-origin: left;
  transition: .7s;
}

.book-card .card-mask {
  position: absolute;
  background: #e0e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .7s;
}

.book-card:hover .book-image {
  transform: rotateY(-165deg);
}

.book-card:hover .card-mask {
  opacity: 1;
  transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.description-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.752rem;
  color: black;
  text-align: center;
  font-size: small;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: -1;
  margin-top: 0;
  font-size: .85rem;
}

.description {
  font-size: .91rem;
  margin-top: .43rem;
  font-family: 'Times New Roman', Times, serif;
}

.info-publishing {
  position: fixed;
  bottom: 0;
  right: 1%;
  width: 100%;
  text-align: center;
  font-size: .5rem;
}

.title {
  font-weight: bolder;
  font-size: 1.15rem;
  margin: 1rem;
  margin-bottom: 0;
}

.author {
  font-style: italic;
  margin-top: .265rem;
  margin-bottom: .65rem;
}

.current-rank {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.book-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: .8rem;
}

.book-card-container:hover {
  padding: 0;
}

.book-flag {
  position: relative;
  background: #ba89b7;
  text-align: center;
}

.book-flag:before {
  left: -2rem;
  border-right-width: 2.3rem;
  border-left-color: transparent;
}

.book-flag .flag-text:before,
.book-flag .flag-text:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #685c67 transparent transparent transparent;
  bottom: -1rem;
}

.book-flag .flag-text:before {
  left: 0;
  border-width: 1rem 0 0 .7rem;
}

.book-flag .flag-text:after {
  right: 0;
  border-width: 1rem .7rem 0 0;
}

.flag-text {
  margin: .85421rem;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: min(2.95vw, 1.2rem);
  color: rgb(255, 255, 254);
  font-weight: bold;
  text-shadow:
    0 0.07rem black;
}


.book-flag {
  width: 16.68rem;
  height: 4rem;
  margin-top: -7.5rem;
  margin-left: .3rem;
  padding-bottom: .7rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: inset 0px 0 5px rgba(0, 0, 0, .5), 1px 16px 15px rgba(0, 0, 0, .5);
}