.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  height: 90vh;
  width: 100vw;
  position: relative;
  z-index: -1;
}

h2 {
  position: absolute;
  z-index: 2;
  font-size: min(12vw, 15.2rem);
}