.top-books-container {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  padding: 4% 4% 3% 21%;
  background-color: #F3DAA0;
  margin-left: 7vh;
  background-size: cover;
  margin-bottom: 11vh;
  height: 100%;
}